.header-main-container {
  ul {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-size: 25px;
    display: flex;
    justify-content: space-between;

    li {
      float: left;
      padding: 25px;

      img {
        width: 200px;
        padding: 20px;
      }

      svg {
        color: grey;
        cursor: pointer;
      }

      svg.last {
        padding-right: 25px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-main-container ul li {
    padding: 25px 15px;
  }
}

@media screen and (max-width: 450px) {
  .header-main-container img {
    width: 150px !important;
  }
  .header-main-container ul {
    font-size: 20px;
  }
  .header-main-container ul li svg.last {
    padding-right: 10px;
  }
}
