.sidebar-main-container {
  display: inline-block;
  width: 15%;
  text-align: center;
  margin-left: 15%;
  margin-right: 5%;
  vertical-align: top;
  background-color: #f2f2f2;
  border-radius: 5px;

  ul {
    padding: 0px;
    li {
      list-style: none;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;
      text-align: left;
      padding-left: 40px;

      .label {
        margin-left: 10px;
      }
    }
    li:hover {
      color: blue;
      background-color: #ccc;
    }
  }
}

@media screen and (max-width: 1600px) {
  .sidebar-main-container {
    margin-left: 10%;
    width: 20%;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar-main-container {
    width: 20%;
  }
}

@media screen and (max-width: 992px) {
  .sidebar-main-container {
    width: 25%;
    margin-left: 5%;
  }
}
