.input-main-container {
  padding: 20px;
  display: flex;
  justify-content: center;

  > div {
    width: 50%;
    display: flex;
    justify-content: space-between;

    > label {
      padding-top: 10px;
    }

    > div {
      > input {
        line-height: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 1px black solid;
        width: 250px;
      }

      > div {
        font-size: 12px;
        color: red;
        text-align: left;
      }
    }
  }
}
