.app-main-container {
  display: inline-block;
  width: 100%;

  > div {
  }
}

.main-container .Collapsible {
  display: none;
}

.tab-container {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.main-container > div > .react-tabs > ul {
  text-align: left;

  li {
    width: 130px;
  }
}

@media screen and (max-width: 1600px) {
  .tab-container {
    width: 60%;
  }
  .input-main-container > div,
  .select-main-container > div {
    width: 60% !important;
  }
}

@media screen and (max-width: 1450px) {
  .input-main-container > div,
  .select-main-container > div {
    width: 70% !important;
  }
}

@media screen and (max-width: 1250px) {
  .input-main-container > div,
  .select-main-container > div {
    width: 80% !important;
  }
}

@media screen and (max-width: 1100px) {
  .input-main-container > div,
  .select-main-container > div {
    width: 90% !important;
  }
}

@media screen and (max-width: 900px) {
  .main-container .Collapsible {
    display: block;
  }
  .main-container .Collapsible > span > div > span > svg {
    padding: 0px 5px;
    display: flex;
    align-self: center;
  }
  .main-container .sidebar-main-container {
    width: 100%;
    margin: 0px;
  }

  .sidebar-main-container ul li {
    padding-left: 30px !important;
  }

  .main-container .sidebar-main-container .menu-bar {
    background-color: red;
  }

  .main-container > .sidebar-main-container {
    display: none !important;
  }

  .main-container > div {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 25px;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .input-main-container > div,
  .select-main-container > div {
    width: 100% !important;
  }

  .input-main-container,
  .select-main-container {
    padding: 20px 10px !important;
  }
}

@media screen and (max-width: 550px) {
  .input-main-container,
  .select-main-container {
    text-align: center;

    > div {
      display: block !important;

      > div > div {
        display: block;
        width: 270px;
        margin: auto;
        text-align: left;
      }
    }

    label {
      display: block;
      width: 270px;
      margin: auto;
      text-align: left;
    }
  }

  .input-main-container label,
  .select-main-container label {
    margin-bottom: 5px;
  }
}
