.account-form {
  .button {
    padding: 20px;
    display: flex;
    justify-content: center;

    button {
      width: 100px;
      height: 45px;
      border-radius: 10px;
      border: 1px black solid;
      background-color: green;
      color: white;
      font-size: 18px;
    }
  }
}

.user-information {
  h3 {
    text-align: left;
    margin-top: 40px;
  }

  .button {
    padding: 20;
    display: flex;
    justify-content: center;

    button {
      width: 100px;
      height: 45px;
      border-radius: 10px;
      border: 1px black solid;
      background-color: green;
      color: white;
      font-size: 18px;
    }
  }
}
